{% extends 'layouts/includes.html.twig' %}

{% block body %}
    <div class="col-lg-offset-2 col-lg-8">
        <div class="text-center">
            <img width="300px" class="img-circle img-auto" src="{{ asset('bundles/site/img/funky_dogo.jpg') }}">
        </div>
        <div class="text-center">
            <h1>An error occurred while processing your request</h1>
            <div style="font-size: 3em">
                <a href="{{ path('home') }}">Home</a>
            </div>
        </div>
    </div>
{% endblock %}
