<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'layouts/header.html.twig' %}
    {% block header %}{% endblock %}
    <title>
        Klausimynai
        {% if pageTitle is defined %}
            - {{ pageTitle }}
        {% endif %}
    </title>
</head>
<body>
{% include 'layouts/navbar.html.twig' %}
<div class="container" style="padding-top: 25px">
    <div id="main" class="row">
        {% block body %}{% endblock %}
    </div>
</div>
{% include 'layouts/footer.html.twig' %}
<script type="application/javascript">
    function tableLanguage() {
        return {
            language: {
                paginate: {
                    first: "Pirmas",
                    last: "Paskutinis",
                    next: "Sekantis",
                    previous: "Ankstesnis"
                },
                lengthMenu: "Rodyti _MENU_ įrašų",
                emptyTable: "Lentelėje duomenų nėra",
                infoFiltered: "(filtruojama iš _MAX_ įrašų)",
                info: "Rodoma nuo _START_ iki _END_ iš _TOTAL_ įrašų",
                "infoEmpty": "Įrašų nėra",
                zeroRecords: "Nieko nerasta",
                search: "Paieška"
            }
        }
    }
</script>
{% block javascript %}{% endblock %}
</body>
</html>