{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>Create a new questionnaire</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form>
                        <div class="well bs-component" id="questions">
                            <div class="row question">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Question title</label>
                                        <input type="text" placeholder="Enter question title" name="question-title" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Question type</label>
                                        <select name="type" class="form-control">
                                            <option value="OPEN">Open question</option>
                                            <option value="SELECTION">Selection</option>
                                            <option value="SINGLE_SELECTION">Single selection</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Question text</label>
                                    <textarea rows="5" name="description" class="form-control" placeholder="Enter a short description of your question"></textarea>
                                    <hr>
                                </div>

                                {# open question - show nothing #}
                                {# selection / single selection #}
                                <div class="answers">
                                    <div class="col-md-4 answer">
                                        <div class="form-group">
                                            <label class="control-label">Selection title</label>
                                            <input type="text" placeholder="Enter selection title" name="question-title" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 answer">
                                        <div class="form-group">
                                            <label class="control-label">Selection title</label>
                                            <input type="text" placeholder="Enter selection title" name="question-title" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 answer">
                                        <div class="form-group">
                                            <label class="control-label">Selection title</label>
                                            <input type="text" placeholder="Enter selection title" name="question-title" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript" src="{{ asset('bundles/site/js/questionnaires/creation.js') }}"></script>
{% endblock %}