{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        <h2>"{{ questionnaire.name }}" stats</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Overall stats</div>
                    <div class="panel-body">
                        <p>
                            {% if stats.participantCount == 0 %}
                                sed
                            {% else %}
                                Congratulations, your questionnaire has been filled by {{ stats.participantCount }} unique
                                participant(s).
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Some question stats</div>
                    <div class="panel-body">
                        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/highcharts/highcharts.js') }}" type="application/javascript"></script>
    <script type="application/javascript" src="{{ asset('bundles/site/js/questionnaires/stats.js') }}"></script>
{% endblock %}