{% extends 'layouts/base.html.twig' %}
{% set pageTitle = 'about' %}

{% block body %}
    <div class="col-lg-12">
        <div class="jumbotron">
            <h1>Information</h1>
            <p>
                This is a website to create anonymous questionnaires and view their stats.
                {% if app.user %}
                    To create a questionnaire all you have to do is to click
                    <a class="btn btn-primary btn-xs"
                       href="javascript:;"
                       data-toggle="modal"
                       data-target="#create-questionnaire">this</a>
                    button.
                {% else %}
                    To create a new questionnaire you first must have an account, you can create a new account
                    <a class="btn btn-primary btn-xs"
                       href="{{ path('user_registration') }}">here</a>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}