{% extends 'layouts/includes.html.twig' %}
{% set pageTitle = 'register' %}

{% block body %}
    <div class="col-md-4 col-md-offset-4">
        {% include 'authentication/register.form.html.twig' %}
    </div>
{% endblock %}